@import "../../components/variables.scss";

.section-headline {
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin: 0 -20px;

    &::after, &::before {
        content: '';
        display: block;
        flex: 1;
        height: 1px; 
        background-color: map-get($map: $colors, $key: 'spacer');
    }
}